@tailwind base;
@tailwind components;
@tailwind utilities;





.container{
 @apply max-w-screen-lg mx-10
}
/* .nav2{
    
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;

} */